<form action="/robots" method="post">
  <p>Enter a new robot:</p>
  <input type='text' name='robot[title]'/><br/>
  <textarea name='robot[description]'></textarea><br/>
  <input type='submit'/>
</form>
